.main-min {
    background-image: url(./images/minimalbckg.jpg);
    background-size: cover;
    height: 100%;
    padding: 60px 14vw 7vh 14vw;
    font-family: 'Bangers', cursive;
    .no-sale {
        height: 22vh;
        display: flex;
        justify-content: center;
        padding-top: 5vh;
        font-size: calc(5vw - 5vh);
        width: 100%;
    }
    .top-min-item {
        display: inline-flex;
        justify-content: center;
        width: 100%;
        height: 22vh;
        .top-min-pic {
            img {
                width: 14vw;
                height: 20vh;
            }
        }
        .top-min-dicription {
            display: flex;
            flex-direction: column;
            font-size: calc(5vw - 5vh);
            justify-content: center;
            padding-left: 2vw;
        }
    }
    .min-container {
        display: inline-flex;
        overflow-y: auto;
        max-height: 65vh;
        flex-wrap: wrap;
        width: 100%;
        font-size: calc(.8vh + .8vw);
        .min-item {
            display: flex;
            flex-direction: column;
            width: 25%;
            height: 25vh;
            text-align: center;
            padding: 2vh 1vw;    
            img {
                width: 100%;
                height: 50%;
                padding: 0% 27%;
                margin: 1vh 0;
            }
        }
    }
}