.main {
    background-image: url(./images/todobckg.jpg);
    height: 95.8%;
    width: 100%;
    padding-top: 40px;
    background-size: cover;
    input {
        width: 300px;
        font-size: 13px;
        padding: 6px 0 4px 10px;
        border: 1px solid #cecece;
        background: #F6F6f6;
        border-radius: 8px;
    }
    .default-container {
        height: 5%;
        padding: 15px;
        padding-top: 30px;
        padding-bottom: 0;
    }
    .task-container {
        height: 39%;
        border: 3px solid black;
        border-radius: 15px;
        margin: 7px;
        overflow: auto;
        overflow-x: hidden;
        .table-head {
            background: linear-gradient(to right, rgba(33, 147, 176, 0.4), rgba(109, 213, 237, 0.4));
        }
    }
    
    .done-button {background-image: linear-gradient(to right, #1D976C 0%, #93F9B9  51%, #1D976C  100%)}
    .done-button {
       text-align: center;
       text-transform: uppercase;
       transition: 0.5s;
       background-size: 200% auto;
       color: white;            
       box-shadow: 0 0 20px #eee;
       border-radius: 10px;
       width: 73px;
     }

     .done-button:hover {
       background-position: right center; /* change the direction of the change here */
       color: #fff;
       text-decoration: none;
     }
     
     .undone-button {background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%)}
     .undone-button {
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        width: 73px;
      }

    .undone-button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    }
    
    .delete-button {background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%)}
    .delete-button {
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        width: 73px;
    }

    .delete-button:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
    }
    .system-button {background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%)}
    .system-button {
       text-align: center;
       text-transform: uppercase;
       transition: 0.5s;
       background-size: 200% auto;
       color: white;            
       box-shadow: 0 0 20px #eee;
       border-radius: 10px;
       width: 124px;
       height: 27px;
     }

     .system-button:hover {
       background-position: right center; /* change the direction of the change here */
       color: #fff;
       text-decoration: none;
     }
    
    .todo-line{
        background: linear-gradient(to right, rgba(211, 204, 227, 0.5),rgba(233, 228, 240, 0.5));
    }
    .statusdone {
        color: green;
    }
    .add {
        background: linear-gradient(to right, rgba(17, 153, 142, 0.5), rgba(56, 239, 125, 0.5));
    }
    .delete {
        background: linear-gradient(to right, rgba(237, 33, 58, 0.5), rgba(147, 41, 30, 0.5));
    }
    .changestatus {
        background: linear-gradient(to right, rgba(253, 200, 48, 0.5), rgba(243, 115, 53, 0.5));
    }
    .filters {
        background: linear-gradient(to right, rgba(190, 147, 197, 0.5), rgba(123, 198, 204, 0.5));
    }
}

@media (max-width: 430px) {
    th, td {
        width: 20%;
        div {
            padding-inline: 15px;
            max-width: 150px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            text-align: center;
        }
    }
    
}

@media (min-width: 430px) and (max-width: 475px) {
    th, td {
        width: 20%;
        div {
            padding-inline: 15px;
            max-width: 162px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            text-align: center;
        }
    }
    
}
@media (min-width: 475px) and (max-width: 575px) {
    th, td {
        width: 20%;
        div {
            padding-inline: 15px;
            max-width: 209px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            text-align: center;
        }
    }
    
}
@media (min-width: 575px) and (max-width: 611px) {
    th, td {
        width: 20%;
        div {
            padding-inline: 15px;
            max-width: 300px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            text-align: center;
        }
    }
    
}

@media (min-width: 611px) {
    .table-style {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        th {
            border-bottom: 3px solid black;
        }
        .position {
            width: 5%;
        }
        
        .date {
            width: 10%;
        }
        .name-task-todo {
            width: 70%;
        }
        .status {
            width: 5%;
        }
        .action-button {
            width: 10%;
        }
        .name-task-log {
            width: 70%;
        }
        .action-log {
            width: 15%;
        }
    }
}