.task-container {
    height: 42vh; 
    border: 3px solid black;
    border-radius: 15px;
    margin: 7px;
    overflow: auto;
}
.table-style {
    width: 100%;
    text-align: center;
    .position {
        width: 100px;
    }
    .date {
        width: 400px;
    }
    .name {
        width: 890px;
    }
    .status {
        width: 100px;
    }
    .action {
        width: 400px;
    }
}
.done-undone {
    width: 61px;
}
.home-button {
    float: right;
}
.line{
    background-color: rgba(238, 238, 238, 0.945);
}
.statusdone {
    color: green;
}
.add {
    background-color: lightgreen;
}