<div class = "task-container">
    <div>
        <input type="text" placeholder = "New task name" ng-model = "vm.newTaskName" maxlength="50">
        <button ng-click = "vm.addNewTask()" ng-disabled = "!vm.newTaskName">Add Task</button>
        <input type="text" placeholder="Search..." ng-model = "vm.taskFilter" maxlength="50">
        <button ng-click = "vm.orderByFeild='position'; vm.reverseSort = false; vm.taskFilter = ''">Cancel filters</button>
    </div>
    <table class = "table-style">
        <thead>
            <th>№</th>
            <th>
                <a href = "" ng-click = "vm.orderByFeild='date'; vm.reverseSort = !vm.reverseSort; vm.info()">Creation Date</a>
            </th>
            <th>
                <a href = "" ng-click = "vm.orderByFeild='name'; vm.reverseSort = !vm.reverseSort; vm.info()">Task Name</a> 
            </th>
            <th>
                <a href = "" ng-click = "vm.orderByFeild='status'; vm.reverseSort = !vm.reverseSort; vm.info()">Status</a> 
            </th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr ng-repeat = "task in vm.todoList | filter: vm.taskFilter | orderBy:vm.orderByFeild:vm.reverseSort track by $index">
                <td>{{task.position}}</td>
                <td>{{task.date.format("DD-MM-YYYY HH:mm:ss")}}</td>
                <td>{{task.name}}</td>
                <td>
                    <input type="checkbox" ng-model = "task.status" ng-click = "vm.changeTaskStatus(task)">
                </td>
                <td>
                    <button ng-click = "vm.changeTaskStatus(task)" ng-if = "!task.status" class="done-undone">Done</button>
                    <button ng-click = "vm.changeTaskStatus(task)" ng-if = "task.status" class="done-undone">Undone</button>
                    <button ng-click = "vm.deleteTask($index)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class = "task-container">
    <table class = "table-style">
        <thead>
            <th>№</th>
            <th>Action Date</th>
            <th>Task Name</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr ng-repeat = "log in vm.logTask | filter: vm.taskFilter track by $index">
                <td>{{$index+1}}</td>
                <td>{{log.date.format("DD-MM-YYYY HH:mm")}}</td>
                <td>{{log.name}}</td>
                <td>{{log.action}}</td>
            </tr>
        </tbody>
    </table>
    <button ng-click = "vm.clearLog()">Clear Log</button>
</div>