<div>
    <input type="text" placeholder="New task name" ng-model="vm.newTaskName" maxlength="50" ng-keydown="vm.addNewTask($event)">
    <button ng-click="vm.addNewTask();" ng-disabled="!vm.newTaskName">Add Task</button>
    <input type="text" placeholder="Search..." ng-model="vm.taskFilter" maxlength="50">
    <button ng-click="vm.sortTask('position', true); vm.taskFilter=null" >Cancel filters</button>
</div>  
<div class="task-container">
    <table class="table-style">
        <thead>
            <th class="position">
                <a href="" ng-click="vm.sortTask('position')">№</a>
                <span ng-show="vm.orderByField == 'position'">
                    <span ng-show="vm.reverseSort">↑</span>
                    <span ng-show="!vm.reverseSort">↓</span>
                </span>
            </th>
            <th class="date">
                <a href="" ng-click="vm.sortTask('date')">Creation Date</a>
                <span ng-show="vm.orderByField == 'date'">
                    <span ng-show="vm.reverseSort">↑</span>
                    <span ng-show="!vm.reverseSort">↓</span>
                </span>
            </th>
            <th class="name">
                <a href="" ng-click="vm.sortTask('name')">Task Name</a> 
                <span ng-show="vm.orderByField == 'name'">
                    <span ng-show="vm.reverseSort">↑</span>
                    <span ng-show="!vm.reverseSort">↓</span>
                </span>
            </th>
            <th class="status">
                <a href="" ng-click="vm.sortTask('status')">Status</a>
                <span ng-show="vm.orderByField == 'status'">
                    <span ng-show="vm.reverseSort">↑</span>
                    <span ng-show="!vm.reverseSort">↓</span>
                </span>
            </th>
            <th class="action">Actions</th>
        </thead>
        <tbody>
            <tr ng-repeat="task in vm.todoList | filter: vm.taskFilter | orderBy:vm.orderByField:vm.reverseSort track by $index" ng-class-even="'line'" ng-class="{statusdone: task.status}">
                <td>{{task.position}}</td>
                <td>{{task.date.format("DD-MM-YYYY HH:mm:ss")}}</td>
                <td>{{task.name}}</td>
                <td>
                    <input type="checkbox" id="taskstatus" ng-model="task.status" ng-click="vm.changeTaskStatus(task)">
                </td>
                <td>
                    <button ng-click="vm.changeTaskStatus(task)" ng-if="!task.status" class="done-undone">Done</button>
                    <button ng-click="vm.changeTaskStatus(task)" ng-if="task.status" class="done-undone">Undone</button>
                    <button ng-click="vm.deleteTask($index)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="task-container">
    <table class="table-style">
        <thead>
            <th >№</th>
            <th>Action Date</th>
            <th>Task Name</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr ng-repeat="log in vm.logTask | filter: vm.taskFilter track by $index">
                <td>{{$index+1}}</td>
                <td>{{log.date.format("DD-MM-YYYY HH:mm")}}</td>
                <td>{{log.name}}</td>
                <td>{{log.action}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <button ng-click="vm.clearLog()">Clear Log</button>
    <button ng-click="vm.backHome()" class="home-button">Back on homepage</button>
</div>
