@import '~bootstrap/dist/css/bootstrap';
@import '~angular-material/angular-material';
@import './variables';
@import '../pages/authorization/components/authorization.component';
@import '../pages/user_infopage/components/user_infopage.component';
@import '../pages/direcrives/menu_directive/components/menu.component';
@import '../pages/registration/components/registration.component';
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
    md-content {
        width: 100vw;
        height: 100vh;
    }
    background-color: #a7b2c4;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 24px;
    color: #ffffff;
    line-height: 1.6;
    margin: 0;
    width: 100%;
    height: 100vh;

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    h1 {
        font-size: 54px;
        margin: 0;
    }

    h2 {
        font-size: 48px;
        margin: 0;
    }

    h3 {
        font-size: 42px;
        margin: 0;
    }

    h4 {
        font-size: 36px;
        margin: 0;
    }

    h5 {
        font-size: 30px;
        margin: 0;
    }

    h6 {
        margin: 0;
    }

    .container {
        width: 100%;
        max-width: 100vw;
        margin: 0 auto;
    }
}