<div class="buttons-block">
    <button ng-click="vm.goTodo()" class="btn-grad">ToDo List</button>
    <button ng-click="vm.goShop()" class="btn-grad">Shop</button>
    <button ng-if="vm.currentState !== 'homepage'" ng-click="vm.goHome()" class="home-button">Back on Homepage</button>
    <button ng-if="vm.currentState == 'shop'" ng-click="vm.goCart()" class="btn-grad">Cart</button> 
    <span ng-if="vm.currentState == 'shop' || vm.currentState == 'cart'">Products in cart: {{vm.RandomService.cartProductsCount}}</div>
</div>