.product-item {
    
    width: 150px;
    height: 170px;
    display: inline-block;
}
.product-item:hover {
    background-color: rgba(141, 149, 156, 0.5);;
    transition: 0.3s;
}
.shop-main {
    background-image: url(./images/shopbckg.jpg);
    height: 95.8%;
    width: 100%;
    padding-top: 40px;
    background-size: cover;
}

.add-button {background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%)}
.add-button {
    padding: 3px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 110px;
    }

    .add-button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
