<div class="shop-main">
   <div class="product-container">
       <div ng-repeat="product in vm.allProducts track by $index" class="product-item">
            <h2>
                {{product.name}}
            </h2>
            <div>
                <img class="{{product.name}}" ng-src="images/{{product.name}}.png" alt="{{product.name}}">
            </div>
            <div>
                <span >Price: {{product.discountPrice | currency: $ }} </span>
            </div>
            <div class="product-item-description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro quas rem molestiae officia maiores doloribus nam?
            </div>
            <div>
                <button ng-click="vm.addToCart($index)" class="btn btn-add-to-cart">Add to cart</button>
            </div>
       </div>
   </div>
</div>
