<div class="shop-main">
    <div class="filter-container">
        <div class="search-for-name">
            <input ng-model="vm.nameOfProductFilter" placeholder="Name of product..." maxlength="50">
        </div>
        <div class="search-for-price">
           <div class="price-diapazone">
               From
               <input ng-model="vm.minPrice" placeholder="Min price">
               to
               <input ng-model="vm.maxPrice" placeholder="Max price">
           </div>
           <div class="is-discount">
               <label for="isdiscount">With discount only</label>
               <input id="isdiscount" type="checkbox">
               <button ng-click="vm.findProductForPrice()">Filter</button>
               <button ng-click="vm.cancelFilters()">cancelFilters</button>
           </div>
        </div>
    </div>
   <div class="product-container">
       <div ng-repeat="product in vm.allProducts | filter: {name:vm.nameOfProductFilter} track by $index" class="product-item" ng-class="{'discount': product.priceChanged}">
            <div class="add-test" ng-if="product.added">
                <div class="in-cart">
                    In cart
                </div>
                <div class="count" id="counter-{{$index}}">
                    {{vm.CalcTotalService.getProductCount(product.name)}}
                </div>
            </div>
            <h2>
                {{product.name}}
            </h2>
            <div>
                <img class="{{product.name}}" ng-src="images/{{product.name}}.png" alt="{{product.name}}">
            </div>
            <div>
                <span>Price: {{product.discountPrice | currency: $ }} </span>
            </div>
            <div class="product-item-description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro quas rem molestiae officia maiores doloribus nam?
            </div>
            <div>
                <button ng-click="vm.addToCart($index)" class="btn btn-add-to-cart">Add to cart</button>
            </div>
       </div>
   </div>
</div>
