<div class="shop-main">
    <div class="filter-container">
        <div>
            <input class="input-text" ng-model="vm.shopFilter.name" placeholder="Name of product..." maxlength="50">
        </div>
        <div class="search-for-price">
           <div>
               From
               <input class="input-text" ng-model="vm.shopFilter.minPrice" ng-change="vm.applyFilter()" placeholder="Min price">
               to
               <input class="input-text" ng-model="vm.shopFilter.maxPrice" ng-change="vm.applyFilter()" placeholder="Max price">
           </div>
           <div class="is-discount">
               <label for="isdiscount">With discount only</label>
               <input id="isdiscount" type="checkbox" ng-model="vm.shopFilter.isDiscount">
           </div>
        </div>
    </div>
   <div class="product-container">
       <div ng-repeat="product in vm.filteredProducts | filter: {name: vm.shopFilter.name, priceChanged: vm.shopFilter.isDiscount ? true : undefined} track by $index"
            class="product-item" ng-class="{'discount': product.priceChanged}">
            <div class="add-test" ng-if="product.added">
                <div class="in-cart">
                    In cart
                </div>
                <div class="count" ng-class="{'time': product.clickAdd}">
                    {{vm.CalcTotalService.getProductTotalCount(product.name)}}
                </div>
            </div>
            <h2>
                {{product.name}}
            </h2>
            <div>
                <img class="{{product.name}}" ng-src="images/{{product.name}}.png" alt="{{product.name}}">
            </div>
            <div>
                <span>Price: {{product.discountPrice | currency: $ }} </span>
            </div>
            <div class="product-item-description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro quas rem molestiae officia maiores doloribus nam?
            </div>
            <div>
                <button ng-click="vm.addToCart(product)" class="btn btn-add-to-cart">Add to cart</button>
            </div>
       </div>
   </div>
</div>
