<!-- <div>on cart page</div> -->
<div class="main-cart">
    <span class="empty" ng-if="!vm.CalcTotalService.cartProducts.length">
        <div>Cart is empty...</div>
        <div>Please go to shop and buy somthing</div>
    </span>
    <div ng-if="vm.CalcTotalService.cartProducts.length" class="cart-container">
        <div class="product-item" ng-repeat="cartProduct in vm.CalcTotalService.cartProducts track by $index">
            <span class="index">{{$index+1}}</span>
            <img class="{{cartProduct.name}}" ng-src="images/{{cartProduct.name}}.png" alt="{{product.name}}">
            <div class="product-discription">
                <span>{{cartProduct.name}}</span>
                <span>Price: {{cartProduct.price | currency: $ }} </span>
                <span>Count: {{cartProduct.count}}</span>
                <button class="btn btn-delete-cart" ng-click="vm.CalcTotalService.deleteFromCart($index)">Delete</button>
            </div>
        </div>
    </div>
    <div class="footer" ng-if="vm.CalcTotalService.cartProducts.length">
        <button class="btn clear-cart-button" ng-click="vm.CalcTotalService.clearCart()">Clear cart</button>
        <div class="totals">
            <span>Total count of products: {{vm.CalcTotalService.getTotalCount()}}</span>
            <span>Total price: {{vm.CalcTotalService.getTotalPrice() | currency: $}}</span>
        </div>
    </div>
</div>