<!-- <div>on cart page</div> -->
<div class="main-cart">
    <span class="empty" ng-if="vm.cartProducts.length === 0">
        <div>Cart is empty...</div>
        <div>Please go to shop and buy somthing</div>
    </span>
    <div ng-if="vm.cartProducts.length">
        <ol class="cart-container">
            <li class="product-item" ng-repeat="cartProduct in vm.cartProducts track by $index">
                <span class="index">{{$index+1}}</span>
                <img class="product-logo" ng-src="images/{{cartProduct.name}}.png" alt="{{product.name}}">
                <div class="product-discription">
                    <span>{{cartProduct.name}}</span>
                    <span>Price: {{cartProduct.price | currency: $ }} </span>
                    <span>Count: {{cartProduct.count}}</span>
                    <button class="delete-button" ng-click="vm.deleteFromCart($index)">Delete</button>
                </div>
            </li>
        </ol>
    </div>
    <div class="footer">
        <button class="clear-cart-button" ng-click="vm.clearCart()" ng-if="vm.cartProducts.length">Clear cart</button>
    </div>
</div>